<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title}) %>
  <body>
    <%- include('./partials/header', {page: "Category Form"}) %>

    <main class="mainCategoryForm">
      <form
        action="/categories/<%= category.id %>/edit"
        method="POST"
        class="categoryForm"
      >
        <legend><%= title %></legend>

        <div class="formBody">
          <div class="formInput">
            <label for="name">Name:</label>
            <input
              type="text"
              id="name"
              name="name"
              value="<%= category.name %>"
              required
            />
          </div>

          <button type="submit" class="submitItem">Submit</button>
        </div>
      </form>
    </main>

    <%- include('./partials/footer') %>

    <div class="sliderLeft"></div>
    <div class="sliderRight"></div>
    <div class="sliderLeftBack"></div>
    <div class="sliderRightBack"></div>
  </body>

  <script src="/js/forms.js"></script>
</html>
