<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title}) %>
  <body>
    <%- include('./partials/header', {page: "Item Form"}) %>

    <main class="mainItemForm">
      <form
        action="/items/new"
        method="POST"
        enctype="multipart/form-data"
        class="itemForm"
      >
        <legend><%= title %></legend>
        <div class="formBody">
          <div class="formInput">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required />
          </div>

          <div class="formInput">
            <label for="quantity">Quantity:</label>
            <input
              type="number"
              id="quantity"
              name="quantity"
              max="9999"
              required
            />
          </div>

          <div class="formInput">
            <label for="price">Price:</label>
            <input
              type="number"
              id="price"
              name="price"
              max="99999999"
              required
            />
          </div>

          <div class="formInput">
            <label for="categories">Categories:</label>

            <select id="categories" name="categories" multiple required>
              <% categories.forEach(category => { %>
              <option value="<%= category.id %>"><%= category.name %></option>
              <% }) %>
            </select>
          </div>

          <div class="formInput">
            <label for="image">Image:</label>
            <input
              type="file"
              id="image"
              name="image"
              accept="image/*"
              required
            />
          </div>

          <button type="submit" class="submitItem">Submit</button>
        </div>
      </form>
    </main>

    <%- include('./partials/footer') %>

    <div class="sliderLeft"></div>
    <div class="sliderRight"></div>
    <div class="sliderLeftBack"></div>
    <div class="sliderRightBack"></div>
  </body>

  <script src="/js/forms.js"></script>
  <script>
    new MultiSelectTag("categories", {
      rounded: true,
      placeholder: "Search",
      tagColor: {
        textColor: "#000000",
        borderColor: "#000000",
        bgColor: "#f6f6e9",
      },
    });
  </script>
</html>
